@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #e3eaff, #9ebcfd);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #b0c9ff;
    h1{
        color: rgb(63, 63, 63);
    }
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    flex-direction: column;
    height: 100%;
    gap: 25px;

    .buttom{
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px;
        width: 150px;
        text-align: center;
        text-decoration: none;
        background-color: #6f9dff;
        color: white;
    }
}
.loginBox, .registerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .btnLogin{
        width: 100%;
    }
    input{
        border: 0;
        background-color: rgba(212, 212, 212, 0.527);
        border-radius: 10px;
        height: 40px;
        width: 100%;
        padding-left: 15px;
    }
    input:focus{
        outline: none;

    }
}
.bg{
    background-color: #6f9dff;
    border-radius: 15px 100px 100px 15px;
    h1, p, a{
        color: white;
        text-align: center;
    }
}
.bgLeft{
    background-color: #6f9dff;
    border-radius: 100px 15px 15px 100px;
    h1, p, a{
        color: white;
        text-align: center;
    }
}
.messageLogin, .messageRegister{
    display: none;
}

.message{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 63px;
    align-items: center;
    color: white;
    font-size: 1.0rem;
    border-radius: 5px;
    display: flex;
    padding-left:5px ;
    .res{
        display: flex;
        i{
            font-size: 45px;
        }
        align-items: center;
    }
}
.redBox{
    background-color: rgb(226, 73, 73);
    box-shadow: 0px 0px 4px rgb(175, 56, 56);
}
.greenBox{
    background-color: #51a351;
    box-shadow: 0px 0px 4px #3b773b;
}

@media (max-width: 870px){
    .box{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 60%; 
    }
    .card{
        width: 100%;
    }
    .bg{
        border-radius: 15px 15px 100px 100px;
    }
    .bgLeft{
        border-radius: 100px 100px 15px 15px;
    }
    .loginBox, .registerBox{
        input{
            height: 70px;
        }
    }
}
@media (max-width: 550px){
    .box{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 70%;
    }

}
@media(max-height:740px){
    .box{
        height: 90%;
    }
}
